.categories-header {
    width: 95%;
    max-width: 1600px;
    overflow-x: scroll;
    margin: 10px auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &__list {
        display: flex;
        gap: 0 20px ;
        min-width: 650px;
        
        & button {
            cursor: pointer;
            font-size: 1.125rem;
            padding: 6px 16px;
            border: none;
            background-color: transparent;

        }

        & .active {
            font-weight: 600;
            background-color: #ecf0f4;    
            border-radius: 20px;
        }
    }
}

.active {
    font-weight: 600;
    background-color: #ecf0f4;    
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .categories-header__list{
        gap: 0 10px;
       & button {
           font-size: 1.1rem;
       }
    }
}