// header variables //
$color-white : #fff; 
$color-white-2 : #fafafa; 


$color-black: #000;
$color-black-2: rgba(0,0,0,0.08);

$color-blue-1 : #007bb6; //linkedein bg
$color-blue-2 : #3a589b; //facebook bg
$color-blue-3 : #32ccfe; //twitter bg
$color-blue-4: #e7f0f5; // footer bg color
$color-blue-5: #2f5b96;

$color-orange : #d6492f; // google bg

$color-red: #D83333;

$text-color:#1a2024;
$light-ash:#d9d9d9;
$brick-red-color:#c74338;
$light-white:#f4f5f7;
$ash:#4e5358;
$white:#fff;

// feature-page variables //
$img-background-color:#e1e1e1;
$dark-ash:#4a5157;
$star-color:rgb(244, 199, 48);
$green-color:green;
$orange-color:#fdf8e5;
$dark-orange-color:#fcf2cf;
$light-blue-color:#f2f5f9;
$dark-blue-color:#deecff;
$color-yelow: #fcc50b;

$color-grey: #b2b9bf;
$color-green: #12b985; //light green
