@import '../../styles/partials/mixins';
@import '../../styles//partials/variables';

.card {
    @include width-property($width: 24%,$min-width:296px, $max-width: 360px);
    background-color: $color-white-2;
    border-radius: 0 0 10px 10px ;

    &__media {
        display: block;
        width: 100%;
        position: relative;
        max-width: 360px;
        z-index: 0;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        & img {
            scale: 1.1;
            width: 100%;
            max-height: 100%;
        }

        &-label {
            @include font($font-color: $color-white,$font-size: 13, $font-weight: 600);
            background-color: $color-black;
            pointer-events: none;
            position: absolute;
            top: 1.5rem;
            padding: 10px 12px;
            left: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            z-index: 100;
        }
        &-label:empty {
            padding: 0;
        }
    }

    &__content {
        padding: 30px 10px 20px 10px;
        position: relative;

        &-feature {
            font-weight: 600;
            text-align: center;
            display: inline-block;
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            padding: 7px 10px;
            border-radius: 10px;
            background-color: $color-yelow;
            border: 1px solid $color-white;
        }

        &-rating i{
            color: $color-yelow;
        }

        &__detail {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: 5px 2px;

            &-text {
                display: flex;
                flex-direction: column;
                margin-top: 12px;
                gap: 12px;

                & h3 {
                    font-size: 1.125rem;
                    font-weight: 600;
                }              
            }
        }


        & .price-detail {
            font-size: 1.125rem;
            font-weight: 600;


            &__actual {
                color: $color-grey;
                font-size: .875rem;
                margin-left: 5px;
                text-decoration: line-through;
            }
            
            &__discount {
                color: $color-green;
                font-size: .75rem;
                margin-left: 5px;
            }
        }
    }
}