@import '../../styles/partials/mixins';
@import '../../styles//partials/variables';

.section-header {
    @include width-property($width:95%, $max-width:1600px);
    @include flex-container($justify-content: space-between, $align-items: center);
    margin: 0 auto;
    padding: 10px 0;

    &__title {
       font-size: 1.9rem;
       
       &-bold {
              font-weight: 600; 
              padding-bottom: 3px;
              position: relative;          
        }

        &-bold:after {
            content: '';
            position: absolute;
            width: 2rem;
            height: 3.5px;
            bottom: 0;
            right: 0;
            background-color: $color-red;
        }
    }

    &__link {
        display: inline-block;
        font-weight: 600;
        color: $color-blue-5;
        padding: 5px;
        margin-right: 10px;
    }

    &__link:hover {
        text-decoration: underline;
    }

    @media (max-width:768px) {
        &__title {
            font-size: 1.4rem;
            
            &-bold:after {
                height: 3px;
            }
        }
    }

}